.hold-form {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
form input {
  padding: 10px;
  width: 150px;
}

form label {
}
