.order-page {
  margin: 60px auto 0px auto;
  height: 80vh;
  width: 80vw;
  position: relative;
}

.order-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  background: white;
  border: 4px double #735b69;
}
.order-page h4 {
  padding: 17px 13px;
  font-size: 36px;
  font-family: "Dokdo", cursive;
}

.order-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-top: 20px;
}
.order-container {
  width: 80%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.back {
  margin: 20px auto;
  padding: 10px 30px;
  background: #735b69;
  border: solid 1px #735b69;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

@media (min-width: 767px) {
  .back {
    position: absolute;
    left: 10%;
    /* margin: 20px auto; */
    padding: 10px 30px;
    background: #735b69;
    border: solid 1px #735b69;
    border-radius: 4px;
    color: white;
    font-size: 14px;
  }

  .order-page h4 {
    /* padding: 40px 0px 0px 0px; */
    padding: 20px 50px;
    font-size: 36px;
    font-family: "Dokdo", cursive;
  }
  /* .float-box {
    position: relative;
    float: right;
  } */
}
