.landing-container {
  width: 100vw;
  height: 90vh;
  /* overflow: hidden; */
  color: #fff;
}

.child {
  padding: 80px 40px 20px 40px;
  background-image: url("../../crafted-donuts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.login {
  width: 40%;
  padding: 30px;
  border-radius: 10px;
  margin: 40px auto;
}
.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 50px;
}
.boxes div {
  border: solid #735b69 1px;
  height: 200px;
}
.large {
  font-size: 50px;
  line-height: 45px;
  font-family: "Open Sans", sans-serif;

  /* text-align: right; */
}

@media (min-width: 767px) {
  .scroll {
    font-size: 46px;
    text-decoration: none;
  }
  .large-text {
    text-align: center;
    padding-left: 50px;
  }
  .large {
    margin-top: 200px;
  }
  .scrolls {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .boxes div {
    border: solid #735b69 1px;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  .child {
    transition: all 2s;
    background-size: 200%;
    background-position: -500px 0px;
  }
  .landing-container:hover .child,
  .landing-container:focus .child {
    transform: scale(1.1);
  }

  .login {
    width: 300px;
    font-size: 14px;
  }
}
