.landing-container {
  width: 100vw;
  height: 90vh;
  font-family: "Roboto", sans-serif;
  overflow: scroll;
}
.landing-top {
  padding-top: 70px;
  overflow: hidden;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("../images/cart-donuts.png");
  filter: drop-shadow(20px 0px 10px gray);
  /* filter: blur(5px); */
}

.login {
  width: 50%;
  padding: 20px 0px;
  border-radius: 10px;
  margin: 40px auto;
  background: #735b69;
  border: solid 1px #735b69;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

.land-text {
  font-size: 40px;
  line-height: 70px;
  color: white;
  z-index: 20;
}

.logo-font {
  font-family: "Dokdo", cursive;
  font-size: 59px;
  color: #735b69;
}
.bold {
  font-weight: 500;
  font-size: 55px;
  /* border-bottom: double 4px #735b69; */
  text-decoration: underline;
}

@media (min-width: 767px) {
  .landing-top {
    /* transition: all 2s; */
    width: 100vw;
    margin: auto;

    /* background-size: 192%;
    background-position: -550px 0px;
    background-repeat: no-repeat; */
    background-attachment: fixed;
    overflow: hidden;
  }

  .land-text {
    font-size: 55px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: 1px;
    padding-top: 10px;
  }

  /* .make {
    position: relative;
    animation: 1s fade linear;
  }

  .bold {
    position: relative;
    animation: 2s fade linear;
  }
  .donuts {
    position: relative;
    animation: 3s fade linear;
  } */
  .logo-font {
    font-size: 128px;
  }

  .log {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .login {
    width: 22%;
    padding: 30px;
    border-radius: 10px;
    margin: 40px auto;
    background: #735b69;
    border: solid 1px #735b69;
    border-radius: 4px;
    color: white;
    font-size: 17px;
  }

  .anime {
    width: 20vw;
    position: relative;
    left: 0px;
    top: 0px;
    /* animation: 3s anime infinite linear; */
  }

  @keyframes anime {
    0% {
      transform: rotate(20deg);
    }
    20% {
      transform: rotate(100deg);
    }
    35% {
      transform: rotate(140deg);
    }
    50% {
      transform: rotate(170deg);
    }
    65% {
      transform: rotate(220deg);
    }
    80% {
      transform: rotate(280deg);
    }
    100% {
      transform: rotate(350deg);
    }
  }

  /* @keyframes fade {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0.2;
    }
    35% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.6;
    }
    65% {
      opacity: 0.8;
    }
    80% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  } */
}
