.landing-container {
  width: 100vw;
  height: 90vh;
  /* position: relative; */
  font-family: "Roboto", sans-serif;
  overflow: scroll;
}
.landing-top {
  height: 90%;

  /* background-image: url("../../crafted-donuts.jpg"); */
  /* background-size: 250%;
  background-position: -650px 0px; */
  /* background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  background-attachment: scroll;
  background-image: url("../images/cart-donuts.png"); */

  color: #735b69;
}
.child {
  padding: 80px 40px 20px 40px;

  width: 100%;
  /* height: 100%; */
}
.login {
  width: 40%;
  padding: 30px;
  border-radius: 10px;
  margin: 40px auto;
}

.large {
  opacity: 1;
  font-size: 50px;
  line-height: 45px;
  font-family: "Dokdo", cursive;
  text-shadow: 2px 2px gray;

  /* text-align: right; */
}
.large-text {
  padding-left: 57px;
  text-align: left;
}

.land-text {
  font-size: 40px;
}

.logo-font {
  font-family: "Dokdo", cursive;
  font-size: 30px;
}

@media (min-width: 767px) {
  .landing-top {
    /* transition: all 2s; */
    width: 100vw;
    margin: auto;
    background-size: cover;
    /* background-size: 192%;
    background-position: -550px 0px;
    background-repeat: no-repeat; */
    background-attachment: fixed;
  }
  .large-text {
    text-align: left;
    padding-left: 57px;
  }
  .land-text {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    padding-top: 10px;
  }
  .logo-font {
    font-family: "Dokdo", cursive;
    font-size: 90px;
  }
  .large {
    margin: 100px auto;
    font-size: 72px;
    line-height: 50px;
    letter-spacing: 0.1em;
  }
  .bold {
    font-weight: 500;
    font-size: 52px;
  }
  .scrolls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .scrolls h3 {
    font-size: 24px;
    text-shadow: 1px 1px gray;
  }

  /* .child {
  } */
  /* .section:hover .child,
  .section:focus .child {
    transform: scale(1.1);
  } */

  .login {
    width: 300px;
    font-size: 14px;
  }

  .anime {
    width: 20vw;
    position: relative;
    left: 0px;
    top: 0px;
    /* animation: 3s anime infinite linear; */
  }

  @keyframes anime {
    0% {
      transform: rotate(20deg);
    }
    20% {
      transform: rotate(100deg);
    }
    35% {
      transform: rotate(140deg);
    }
    50% {
      transform: rotate(170deg);
    }
    65% {
      transform: rotate(220deg);
    }
    80% {
      transform: rotate(280deg);
    }
    100% {
      transform: rotate(350deg);
    }
  }
}
