.profile-page {
  padding-top: 60px;
  width: 80vw;
  margin: auto;
  height: 80%;
}
.animation {
  margin: 20px auto;
  background: white;
  border: 1px solid #735b69;
  overflow: scroll;
}

.profile-page h2 {
  font-family: "Dokdo", cursive;
  font-size: 44px;
  margin-bottom: 20px;
  text-align: center;
}

.animation img {
  display: inline-block;
  width: 100px;
}

@media (min-width: 767px) {
  .profile-page {
    width: 60vw;
  }
}
