.profile-page {
  padding-top: 40px;
  width: 80vw;
  margin: 0 auto;
}

.profile-page h2 {
  font-family: "Dokdo", cursive;
  font-size: 44px;
  margin-bottom: 20px;
  text-align: left;
}

.animation img {
  display: inline-block;
  width: 100px;
}

@media (min-width: 767px) {
}
