.form-page {
  height: 60%;
  padding-top: 40px;
  width: 30vw;
  margin: 0 auto;
}

.form-page input {
  border: 1px solid #735b69;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
form input {
  padding: 10px;
  width: 130px;
}

.inputIcon {
  position: relative;
}
.inputIcon input {
  padding-left: 40px;
  line-height: 2px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}
.inputIcon input:focus {
  border-color: #735b69;
  box-shadow: 0 0 8px 0 #735b69;
}
.inputIcon p {
  padding: 12px 0px 5px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.inputIcon i {
  position: absolute;

  bottom: 12px;
  left: 10px;
  color: #735b69;
  transition: 0.3s;
}

.inputIcon input:focus + i {
  color: #735b69;
}
.submit {
  margin: 20px auto;
  padding: 10px 30px;
  background: #735b69;
  border: solid 1px #735b69;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

@media (min-width: 767px) {
  form input {
    padding: 10px;
    width: 150px;
  }
  .inputIcon input {
    padding-left: 40px;
    line-height: 2px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
  }
}
