.about-container {
  width: 100vw;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  border: 4px double #735b69;

  padding-top: 20px;
}

.about-container > h4 {
  font-size: 35px;
  padding-bottom: 40px;
  font-family: "Dokdo", cursive;
  text-decoration: underline;
}

.about-text {
  font-size: 20px;
  color: black;
}
.process section {
  width: 100%;
  padding: 10px;
}
.step2 {
  border-top: 3px dashed #735b69;
  border-bottom: 3px dashed #735b69;
}

@media (min-width: 767px) {
  .about-container {
    height: 60vh;
    padding-top: 30px;
  }
  .process {
    display: flex;
    justify-content: space-around;

    line-height: 20px;
  }
  .process section {
    width: 30%;
  }
  .about-container > h4 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  section > h4 {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-family: "Dokdo", cursive;
  }
  .step2 {
    border-top: none;
    border-bottom: none;
    border-left: 3px dashed #735b69;
    border-right: 3px dashed #735b69;
  }
}
