.hide {
  display: none;
}

@media (min-width: 767px) {
  .parent-droptop {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60%;
    height: 90%;

    /* margin: 40px auto; */
    /* padding-right: 50px; */
  }

  .size {
    height: 290px;
  }
  .hide {
    display: inline-block;
  }
  .droptop-icing {
    position: relative;
    top: 54px;
    left: 192px;
    z-index: 10;
  }

  .droptop-cakedon {
    position: relative;
    right: 171px;
    top: 56px;
  }
  .droptop-chocdon {
    position: relative;
    right: 171px;
    top: 56px;
  }
  #column {
    margin: auto;
    width: 60%;
    height: 100%;
  }
  .cakeStack {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .chocStack {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .stacking {
    position: absolute;
  }
}
