.hide {
  display: none;
}

@media (min-width: 767px) {
  .parent-droptop {
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    height: 90%;

    /* margin: 40px auto; */
    /* padding-right: 50px; */
  }

  .size {
    height: 290px;
  }
  .hide {
    display: inline-block;
  }
  .droptop-icing {
    position: relative;
    top: 83px;
    z-index: 4;
  }

  .droptop-donut {
    position: relative;
    bottom: 207px;
  }
}
