.ind-donut {
  width: 100%;
  border-bottom: 1px solid #735b69;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  position: relative;
}

.closed {
  border: none;
  position: relative;
  color: #735b69;
  background-color: transparent;
  outline: none;
}
