.success-page {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}
.success-page h2 {
  font-family: "Dokdo", cursive;
  font-size: 44px;
  margin-bottom: 30px;
}
.success-container {
  border: 4px double #735b69;
  background: white;
  height: 40vh;
  width: 60%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-page button {
  margin: 20px auto;
  padding: 10px 30px;
  background: #735b69;
  border: solid 1px #735b69;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}
