.topping {
  margin-top: 64px;
}
.topping-header {
  width: 80vw;
  margin: auto;
  background: white;
  font-family: "Dokdo", cursive;
  margin-bottom: 20px;
  background: white;
  border: 4px double #735b69;
}
.topping h2 {
  font-size: 30px;
  padding-bottom: 10px;
}
.container-drop-topping {
  height: 60vh;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.to-contain {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}
.topping-container button {
  width: 30vw;
  height: 10vh;
  font-weight: bold;
  border: 1px solid #735b69;
  font-size: 12px;
  font-weight: normal;
  color: #131112;
  background: white !important;
}

.create-button {
  margin: 20px auto;
  padding: 10px 30px;
  background: #735b69;
  border: solid 1px #735b69;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}
.name {
  font-weight: bold;
}
.category {
  font-style: italic;
}
.top-plan {
  display: none;
}
.background-img {
  width: 100%;
}
@media (min-width: 767px) {
  .topping {
    margin-top: 80px;
  }
  .topping h2 {
    font-size: 40px;
    padding: 20px 0;
  }
  .container-drop-topping {
    display: flex;
    height: 57vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
  .topping-header {
    margin: auto;
    width: 60vw;
    font-size: 40px;
    margin-bottom: 50px;
  }
  .to-contain {
    margin: 0;
    height: 40vh;
    width: 30vw;

    padding-top: 10px;
  }

  .topping-container button {
    font-weight: normal;
    color: #131112;
    background: white !important;
    width: 10vw;
    height: 11vh;
    font-size: 14px;
    border: 1px solid #735b69;
  }
  .top-plan {
    display: inline-block;
    color: white;
    margin: 0 10px;
    letter-spacing: 4px;
    line-height: 20px;
  }
}
