.topping {
  margin-top: 80px;
}
.topping h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
}

.topping-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}
.topping-container button {
  width: 40vw;
  height: 20vh;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 16px;
}
.peanuts {
  background: url("http://www.jandgpecans.com/data/images/Codengine_1661_2e21b5f960905423db9f6b44244b10dc.png");
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}
.bacon {
  background: url("https://assets.honestbee.com/products/images/480/villamarket_0174393_0174393-1.png");
}

@media (min-width: 767px) {
  .topping-container {
    width: 80vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .bacon,
  .peanuts {
    background: #ffffff;
  }
  .topping-container button {
    margin-top: 30px;
    color: black;
    width: 10vw;
    height: 10vw;
  }
  .topping h2 {
    font-size: 56px;
    margin-bottom: 200px;
  }
}
