.topping {
  margin-top: 80px;
}
.topping-header {
  width: 80vw;
  margin: auto;
  background: white;
  font-family: "Dokdo", cursive;
  font-size: 38px;
  margin-bottom: 20px;
  box-shadow: 4px 3px 2px #735b69;
  background: white;
  border: 1px solid #735b69;
}
.topping h2 {
}
.container-drop-topping {
  height: 60vh;
  overflow: scroll;
}
.to-contain {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}
.topping-container button {
  width: 40vw;
  height: 10vh;
  background-color: white;
  border: 1px solid #735b69;
  /* background-repeat: no-repeat;
  background-position: center; */
  color: black;
  font-size: 16px;
}
.peanuts {
  background: url("http://www.jandgpecans.com/data/images/Codengine_1661_2e21b5f960905423db9f6b44244b10dc.png");
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}
.bacon {
  background: url("https://assets.honestbee.com/products/images/480/villamarket_0174393_0174393-1.png");
}
.label {
  color: black;
}

@media (min-width: 767px) {
  .topping h2 {
    font-size: 40px;
    padding: 20px 0;
  }
  .container-drop-topping {
    display: flex;
    height: 57vh;
    justify-content: center;
    align-items: center;
  }
  .topping-header {
    margin: auto;
    width: 60vw;
    font-size: 40px;
    margin-bottom: 50px;
  }
  .to-contain {
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 30vw;
  }

  .bacon,
  .peanuts {
    background: #ffffff;
  }
  .topping-container button {
    color: black;
    width: 10vw;
    height: 10vh;
  }
  .create-button {
    margin: 20px auto;
    padding: 10px 30px;
    background: #735b69;
    border: solid 1px #735b69;
    border-radius: 4px;
    color: white;
    font-size: 14px;
  }
}
