.outer-header {
  position: relative;
  background: #ffd0d6;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 10; */
}
.header-container {
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Dokdo", cursive;
}

.header-container a {
  display: flex;
  align-items: center;
}
.outer-header a {
  color: #735b69;
}
.title {
  display: none;
}
.empty {
  display: none;
}
.small-name {
  display: inline-block;
}
.donut-logo,
.bag {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.header-container h2 {
  font-size: 50px;
  color: #735b69;
}
.person {
  height: 35px;
  width: 35px;
}
.right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.outer-header::after {
  position: absolute;
  bottom: -47px;
  left: 0px;
  width: 100%;
  content: " ";
  background-image: url("../images/scallop.png");
  z-index: 100;

  height: 50px;
  background-repeat: repeat-x;
}
@media (min-width: 767px) {
  .outer-header {
    height: 10vh;
    position: relative;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .donut-logo,
  .bag {
    height: 65px;
    width: 65px;
    margin: 5px;
  }
  .bag {
    height: 50px;
    width: 50px;
  }
  .person {
    height: 40px;
    width: 40px;
  }
  .header-container .title {
    display: inline-block;
    font-size: 60px;
  }
  .small-name {
    display: none;
  }
  .right-header {
    width: 120px;
  }
}
