.outer-header {
  background: #ffd0d6;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 10; */
}
.header-container {
  background: #ffd0d6;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Fjalla One", sans-serif;
}
.outer-header a {
  color: #735b69;
}
.title {
  display: none;
}
.empty {
  display: none;
}
.small-name {
  display: inline-block;
}
.donut-logo,
.bag {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.header-container h2 {
  font-size: 24px;
  color: #735b69;
}

@media (min-width: 767px) {
  .outer-header {
    height: 15vh;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .donut-logo,
  .bag {
    height: 100px;
    width: 100px;
    margin: 5px;
  }
  .bag {
    height: 75px;
    width: 75px;
  }
  .header-container .title {
    display: inline-block;
    font-size: 46px;
  }
  .small-name {
    display: none;
  }
  .empty {
    width: 100px;
    visibility: hidden;
    display: block;
  }
}
