.menu {
  position: absolute;
  width: 90vw;
  height: 100vh;
  z-index: 1000;
  background-color: #735b69;
  transition: 0.5s;
  right: 0;
  top: 0;
  padding-top: 40px;
  color: white;
  font-size: 25px;
  line-height: 45px;
  text-align: left;
  padding-left: 50px;

  /* border-left: 2px double white; */
}

.slide-items {
  color: white;
  font-size: 23px;
  line-height: 45px;
  text-align: left;
  border-bottom: 1px solid white;
  padding: 10px 0px;
  display: inline-block;
}
.bag {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
}

.menu a {
  color: white;
}
.menu i {
  color: white;
}

.log-button {
  display: block;

  margin: 40px auto;
  padding: 10px 30px;
  background: white;
  border: solid 1px gray;
  box-shadow: 1px, 5px, black;
  border-radius: 4px;
  color: #735b69;
  font-size: 14px;
}
.checktime {
  display: block;
}
img.sma-img {
  width: 20px;
  color: white;
}
.slide-button,
.close-menu {
  outline: none;
  background: transparent;
  border: none;
}
@media (min-width: 767px) {
  .menu {
    width: 30vw;
    font-size: 20px;
  }
  .bag {
    height: 65px;
    width: 65px;
    margin: 5px;
  }
}
