.yoDos {
  border: solid 1px #735b69;
}

@media (min-width: 767px) {
  .to-checkout {
    border: solid 1px #735b69;
    display: flex;
    flex-direction: column;

    height: 40%;
  }
  .to-checkout p {
    border-bottom: solid 1px #735b69;
  }
  .donut-box {
    border: 1px solid #735b69;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

div.hovering {
  display: none;
}

span:hover + div {
  display: inline-block;
}
