.order {
  margin: auto;
  width: 80%;
}
.ind-donut img {
  width: 100px;
}

.ind-donut {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: left;
  border: solid 1px black;
}
.order-container {
  height: 80vh;
  display: flex;
}

@media (min-width: 767px) {
  .ind-donut {
    font-size: 14px;
    width: 25vw;
    height: 20vh;
  }
  .do-container {
    width: 45vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
  }
}
