.box {
  margin: 30px auto;
  width: 100vw;
  overflow: scroll;
  height: 80%;
}

.box-container {
  margin: auto;
  width: 80vw;
}

.box-text {
  font-size: 32px;
  font-family: "Dokdo", cursive;
  margin-top: 50px;
}
.more {
  padding: 10px 30px;

  background: #735b69;
  border: solid 1px #735b69;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  margin: 10px 20px;
}
.do-container {
  margin: 20px auto;
  border: 4px double #735b69;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 10px;
}

.not-logged {
  font-family: "Roboto", sans-serif;
  margin: auto;
  padding: 38px;
}

.not-logged button {
  margin-top: 30px;
}
.how-many {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 7px;
  margin: auto;
  background: #fff;
  border-top: 1px solid #735b69;
}
.box-links {
}
@media (min-width: 767px) {
  .box {
    width: 80%;
  }

  .do-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
  }
  /* .order-container {
    flex-direction: row;
    height: 60vh;
    justify-content: space-around;
  } */
  .not-logged {
    margin: 0 auto;
    padding: 100px;
  }
  .not-logged {
    font-family: "Roboto", sans-serif;
    margin: auto;
    padding: 65px;
  }
  .box-text {
    font-size: 36px;
  }
  .how-many {
    width: 80%;
    font-size: 20px;
    padding: 28px;

    margin-bottom: 40px;
  }
}
