.donut-container h2 {
  font-family: "Dokdo", cursive;
  font-size: 36px;
}

.donut-container {
  margin-top: 100px;
}

.don-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #735b69;
}

.do {
  background: transparent;
  border: none;
}

.select-do {
  width: 200px;
}
@media (min-width: 767px) {
  .donut-container h2 {
    font-size: 40px;
    margin-bottom: 80px;
  }
  .don-container {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .right-arrow {
    font-size: 50px;
    text-decoration: none;
  }

  .donut-type {
    font-size: 20px;
  }

  .select-do {
    width: 250px;
  }
}
