.donut-container h2 {
  font-family: "Dokdo", cursive;
  font-size: 28px;
  padding: 17px 0;
}

.donut-container {
  height: 100vh;
  /* overflow: hidden; */
}

.don-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 69vh;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #735b69;
}

.do {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.do:active {
  transform: scale(1.1);
}

.do:hover {
  transform: scale(1.1);
}

.select-do {
  width: 200px;
}
.don-top {
  width: 80vw;
  margin: 60px auto 0px auto;
  background: white;
  border: 4px double #735b69;
}
p.donut-type {
  font-size: 16px;
}

.right-arrow {
  background: transparent;
  border: none;
  animation: 2s right infinite linear;
}

@keyframes right {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.2);
  }
  65% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 767px) {
  .donut-container h2 {
    font-size: 40px;
  }

  .don-container {
    margin-top: 100px;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
  .right-arrow {
    font-size: 50px;
    text-decoration: none;
  }

  .donut-type {
    font-size: 20px;
  }

  .select-do {
    width: 250px;
  }

  .don-top {
    width: 40vw;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
