.where {
  height: 80vh;
  overflow: hidden;
  background: #b7dde0;
  padding: 40px;
}
.where h1 {
  font-size: 20px;
  font-family: "Leckerli One", cursive;
  letter-spacing: 1.2em;
}

.find-container {
  margin: 40px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.where h3 {
  font-size: 20px;
}
