.where {
  height: 94vh;
  background: #b7dde0;
  padding-top: 30px;
  font-family: "Dokdo", cursive;
  position: relative;
  overflow: scroll;
  color: #fff;
}

.find-container {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.where h1 {
  font-size: 36px;
  font-family: "Dokdo", cursive;
  /* letter-spacing: 1.2em; */
}
.find-title {
  margin-top: 20px;
}

.location {
  font-size: 27px;
}

.footer {
  position: relative;

  bottom: -8px;
  font-size: 12px;
  background: #735b69;
  color: white;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.hours {
  margin-top: 20px;
}

.links {
  margin: 20px auto 0px auto;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.social {
  font-size: 23px;
}

@media (min-width: 767px) {
  .where {
    height: 80vh;
  }
  .find-container {
    margin: 40px 0px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .location {
    text-align: left;
  }

  .where h3 {
    font-size: 36px;
  }
}
